.template-block-text {
  padding: 0 2rem 2rem;

  .hero {
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      margin: 0 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 50%;
    }

    .img {
      height: calc(100vh - 32px);
      width: calc(45% - 10px - 4rem);
      background-size: cover;
      background-position: 50% 50%;
      top: 16px;
      right: 16px;
      position: absolute;

      &.right {
        left: 16px;
        right: initial;
      }
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  .progress {
    &-indictor {
      width: 100%;
    }

    &-bar {
      width: 0%;
      border: none;
      height: 0.4rem;
      background: var(--bs-body-color);
      padding: 0;
      margin: 1rem 0 2rem 0;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
