.template-block-text {
  position: relative;

  .text__container {
    margin: 0 1.5rem;

    .progress {
      &-indictor {
        width: 100%;
      }

      &-bar {
        width: 0%;
        border: none;
        height: 0.4rem;
        background: var(--bs-body-color);
        padding: 0;
        margin: 1rem 0 2rem 0;
      }
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  .img {
    &__wrapper {
      position: absolute;

      &.as-bg {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 0;
      }

      &.as-side {
        right: 2rem;
        top: 2rem;
        border: 1px solid #fff;
        height: calc(100vh - 4rem);
        width: 300px;

        &.right {
          left: 2rem;
          right: initial;
        }
      }
    }

    &__container {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
