@use '../theme/utils' as utils;

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;

  &.theme--dark {
    --bs-nav-tabs-link-active-bg: vars(--bs-light);
  }

  &--px-scale {
    &-lg {
      @include utils.typeface-lg;
    }

    &-md {
      @include utils.typeface-md;
    }

    &-sm {
      @include utils.typeface-sm;
    }
  }
}
