.modal-project-browser {
  .owlui-modal-dialog {
    width: 100%;
  }

  .project-searchbar {
    padding: 1rem 0.5rem 0;
  }

  .project-browser-content {
    padding: 1rem 0.5rem;
  }

  .cell-name {
    width: 50%;
  }

  .cell-created-at {
    width: 25%;
  }

  .cell-updated-at {
    width: 25%;
  }

  .project-row {
    &.active {
      background-color: var(--owl-selection-bg);
    }
  }
}
