html,
body {
  margin: 0;
  padding: 0;
  height: initial;
  overflow: visible;
  position: relative;
}

#scrowl-player,
.lesson-wrapper {
  position: relative;
  z-index: 1;
}

.lesson-wrapper {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 10;

    &-light {
      background-color: var(--bs-gray-100);
    }
  }
}

.navbar + .lesson {
  padding-top: 56px;
}

.lesson {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 0;
}

.next-lesson-container {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5em;

  button {
    height: 3em;
  }
}
