.preview-button {
  position: fixed;
  top: 0.2em;
  right: 1.5em;
  z-index: 999;
}

.preview-panel {
  height: 100vh;
  width: 35%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: grey;
  color: white;
  padding: 1.5em;
  overflow: scroll;
  opacity: 0.85;

  h3 {
    margin-bottom: 0;
  }

  button {
    color: white;
  }

  pre {
    margin-bottom: 0;
  }
}
