.template-two-column {
  .hero {
    width: 100vw;
    height: 100vh;

    background-position: 50% 50%;
    background-size: cover;

    background-color: #fbfbfb;

    .overlay {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    .img {
      height: calc(100vh - 32px);
      width: calc(45% - 10px - 4rem);
      background-size: cover;
      background-position: 50% 50%;
      top: 16px;
      right: 16px;
      position: absolute;

      &.right {
        left: 16px;
        right: initial;
      }
    }

    .text {
      // margin: 0 5%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 100%;
      // min-width: 250px;

      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100vh;

      font-size: min(3.5vw, 24px);

      font-weight: 400;
      line-height: min(4.1vw, 3rem);
      // line-height: 3rem;

      &.right {
        left: initial;
        right: 0;
      }

      .wrapper {
        background-color: rgba(251, 251, 251, 0.9);
        padding: 2rem;
        max-height: calc(100vh - 32px);
        overflow: hidden;
        display: flex;
        justify-content: center;

        .column-wrapper {
          display: flex;
          justify-content: center;
        }

        @media only screen and (max-width: 700px) {
          .stacked-view-narrow,
          .stacked-view-wide {
            flex-direction: column;
          }

          .stacked-view-single {
            width: 50%;
          }

          .first-column,
          .second-column,
          .third-column {
            width: 100%;
            margin: 0;
          }

          h2 {
            margin-top: 1em;
          }
        }

        @media only screen and (min-width: 701px) {
          .first-column,
          .second-column,
          .third-column {
            width: 50%;
            margin: 1em;
          }
        }

        // hr {
        //   width: 0%;
        //   border: none;
        //   height: 0.4rem;
        //   background: var(--bs-body-color);
        //   padding: 0;
        //   margin: 1rem 0 2rem 0;
        // }

        p {
          color: var(--bs-body-color);
          padding: 0;
          margin: 0;
          margin: min(3vw, 20px) 0;

          &.header {
            font-size: min(3.5vw, 26px);
            font-weight: 600;
          }
        }
      }
    }
  }

  &:not(.show-progress) {
    hr {
      width: 100% !important;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
