.template-quiz {
  position: relative;

  .owlui-row.right {
    flex-direction: row-reverse;
  }

  .text__container {
    margin: 0 1.5rem;

    .text__value {
      &.center {
        text-align: center;
      }

      .answers__container {
        margin-top: 1rem;

        form {
          display: flex;
          flex-direction: column;
          align-items: start;
        }

        label {
          margin-left: 1rem;
        }
      }
    }

    .submit-answer {
      margin-top: 1rem;
    }

    .progress {
      &-indictor {
        width: 100%;
      }

      &-bar {
        width: 0%;
        border: none;
        height: 0.4rem;
        background: var(--bs-body-color);
        padding: 0;
        margin: 1rem 0 2rem 0;
      }
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  .img {
    &__wrapper {
      position: absolute;

      &.as-bg {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
      }

      &.as-side {
        right: 2rem;
        top: 2rem;
        border: 1px solid #fff;
        height: calc(100vh - 4rem);
        width: 50vw;
        display: flex;
        justify-content: center;

        &.right {
          left: 2rem;
          right: initial;
        }

        .lazyload-wrapper {
          display: flex;
          justify-content: center;
        }

        img {
          width: calc(90% - 10px - 4rem);
          object-fit: cover;
        }
      }
    }

    &__container {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      object-fit: contain;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
