.template-lesson-outro {
  text-align: center;
  position: relative;
  color: var(--text-dark-a11y-color);

  header {
    position: relative;
    height: 33vh;
    padding: 10vh 1vh 6vh;
    margin-top: 4vh;
    z-index: 10;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .content {
    width: 100%;
  }

  &-title {
    font-size: 30px;
    margin: 0;
  }

  &-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &-time {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    &-value {
      margin-left: 0.5rem;
    }
  }

  &-start-button {
    user-select: none;
    cursor: pointer;
    background: unset;
    margin-top: 5vh;
    border: none;
    color: var(--link-color);
    font-weight: 400;
    font-size: min(5vw, 1.25rem);

    &.hide {
      opacity: 0;
    }

    .link {
      font-size: min(5vw, 1.25rem);
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 50%;
    margin: 0rem auto;
    pointer-events: none;
    user-select: none;
  }

  .img {
    &__wrapper {
      z-index: 0;
      pointer-events: none;
      user-select: none;

      &.as-bg {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 0;
        position: absolute;
      }

      &.as-hero {
        width: 100%;
        height: 63vh;
      }
    }

    &__container {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
