@use '@owlui/lib/src/theme/utils' as *;

.nav-title-container {
  margin-bottom: 2em;

  .nav-title {
    font-weight: 700;
  }

  .nav-subtitle {
    font-weight: 300;
  }

  .nav-duration {
    margin-top: 1em;
    display: flex;
    align-items: center;

    span {
      color: #72727e;
      margin-right: 0.25rem;
      font-size: 1em;
    }

    h5 {
      font-size: 1em;
      font-weight: 200;
      color: #72727e;
      margin: 0;
    }
  }
}

.nav-outline {
  margin-left: 0.25rem;

  .module-button {
    display: flex;
    align-items: center;

    h5 {
      color: black;
      margin: 0;
    }

    .icon {
      font-size: 1.5rem;
      color: black;
      margin-right: 0.25em;
      transition: transform 0.2s;

      &-expanded {
        font-size: 1.5rem;
        margin-right: 0.25em;
        transform: rotate(90deg);
        transition: transform 0.2s;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #f9f9f9;
    }
  }

  .lesson-list {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    list-style: none;

    li:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }

    .lesson-button {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;

      span {
        transform: rotate(-90deg);
      }

      .lesson-icon {
        color: black;
        margin-right: 0.25rem;

        &-active {
          color: #007aba;
          margin-right: 0.25rem;
        }
      }

      .lesson-link {
        text-decoration: none;
        color: black;

        &-active {
          text-decoration: none;
          color: #007aba;
        }
      }
    }
  }
}
