.template-simple-text {
  position: relative;

  .text {
    &__wrapper {
      &.center {
        text-align: center;
      }

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
      }

      &.justify {
        text-align: justify;
      }
    }

    &__container {
      margin: 0 1.5rem;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  .img {
    &__wrapper {
      position: absolute;

      &.as-bg {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 0;
      }
    }

    &__container {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      object-fit: contain;
    }
  }

  &.edit-mode {
    .can-focus {
      cursor: pointer;
    }

    .has-focus {
      background-color: #fff8e6;
    }
  }
}
