.modal-module-editor {
  .owlui-modal-dialog {
    width: 70vw;
    max-width: 1008px;
  }
}

.module-editor {
  &__container {
    width: 70vw;
    max-width: 1008px;
    min-height: 55vh;
    background-color: var(--owl-template-browser-bg);
    overflow: hidden;
  }

  &__content {
    gap: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: 130px;
    overflow-y: auto;
    max-height: 70vh;
  }

  &__item {
    margin: 0;
    height: 128px;
    position: relative;
    padding: 0;
    text-align: left;
    border: var(--owl-border-color) 1px solid;
    border-radius: 0.25em;
    color: var(--owl-dropdown-color);
    background: var(--owl-template-browser-item-bg);
    box-shadow: var(--owl-box-shadow);

    &:focus {
      font-weight: 600;
      border-width: 2px;
      border-color: var(--owl-template-browser-active-border-color);
      box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
    }

    &:focus:not(:active:hover) label {
      color: white;
      background: var(--bs-btn-active-bg);
    }

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: var(--owl-box-shadow-active);
      transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
      background-color: #ffffff !important;
    }

    &:hover label {
      color: var(--owl-dropdown-color);
    }

    &.selected {
      font-weight: 600;
      border-width: 2px;
      border-color: var(--owl-template-browser-active-border-color);
    }

    &.selected label {
      background: var(--bs-btn-active-bg);
      color: white;
    }

    &.active {
      background-color: white;
    }

    &.active label {
      background: var(--bs-btn-active-bg);
    }

    &__bg {
      display: block;
      width: 100%;
      background: white;
      height: 94px;
      color: rgb(212, 212, 212);
      font-size: 95px;
      text-align: center;

      span {
        font-size: inherit;
      }
    }

    &__type {
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      text-align: center;
      border-top-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      background: var(--owl-dropdown-bg);

      span {
        margin: 0.25rem;
        color: var(--owl-color-template);
      }
    }

    label {
      display: block;
      padding: 0.5rem;
      font-size: 0.75rem;
      line-height: 1.2;
      border-top: 1px solid var(--owl-border-color);
      pointer-events: none;

      small {
        margin-left: 0.25rem;
        font-size: 0.5rem;
        color: rgb(153, 153, 153);
      }
    }

    &__active {
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
      color: var(--bs-success);
    }
  }
}
