.right-overlay-panel {
  &.asset-browser {
    max-width: 50vw;
    min-width: 400px;
    width: 450px;

    table {
      margin: 0;
    }

    .asset-list {
      height: calc(100vh - 185px);
      overflow: auto;
      margin-right: -10px;
      padding-right: 10px;
    }
  }

  .asset-browser-body {
    font-weight: 400;
    z-index: 0;

    span.size-unit {
      font-size: 10px;
      font-weight: 300;
      opacity: 0.9;
      margin-left: 1px;
    }

    button.action {
      font-size: 14px;
      padding: 0;
      margin: 0;
      margin-right: 5px;
      line-height: 0;
      height: 16px;
      padding-top: 1px;

      border-color: #aaa;
      color: #888;

      span {
        padding: 0;
        margin: 0 -3px;
      }

      &:hover,
      &:active,
      &:focus {
        color: white;
      }
    }

    .asset-list {
      font-size: 0.75rem;
      font-weight: 400;

      table {
        font-size: inherit;

        thead {
          background: #eee;
          border: none; //1px solid rgb(206, 212, 218);
          box-shadow: 0 1px 0 0 rgb(206, 212, 218);
          border-color: transparent;
          position: sticky;
          top: 0px;
          z-index: 100;

          tr {
            background-color: #eee;

            th {
              padding-top: 0.3rem;
              padding-bottom: 0.1rem;
              font-weight: 500;
            }
          }
        }

        tr {
          vertical-align: middle;
        }

        td {
          padding: 0.25rem 0.5rem;
        }

        td:not(.asset__title) {
          text-transform: capitalize;
        }
      }

      &-entry {
        .wrapper {
          display: flex;
        }

        .name {
          span[class*='owlui-icons'] {
            margin-right: 0.25rem;
            color: var(--owl-input-placeholder-color);
          }
        }

        .name:hover {
          cursor: pointer;
        }

        .name:hover .inline-input {
          text-decoration: underline;
        }

        .asset__file-size-label {
          margin-top: 0.5rem;
          display: inline-block;
        }

        &:hover .action-menu,
        &:focus .action-menu {
          opacity: 1;
        }

        & .action-menu {
          margin-left: 0.25rem;
        }
      }
    }
  }

  footer {
    bottom: 0;
    right: calc(2 * var(--bs-offcanvas-padding-y));
    position: absolute;
  }

  textarea {
    resize: none;
  }

  .accordion-button {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.0125em;
  }
}

.publish-course-overview {
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

  &__item {
    margin-bottom: 1rem;
    flex: 1 0 33%;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.875em;
  }
}

.publish-course-overview__item {
  dt {
    font-weight: 500;
  }

  dd {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--bs-primary);
    line-height: 1;
  }
}

.overlay-publish-confirmation {
  text-align: center;
  height: auto;
  max-height: calc(100vh - 225px);
  overflow: hidden;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.collapse-disabled .accordion-button::after {
  content: none;
}

.modal-publish-progress {
  .owlui-modal-dialog {
    width: 300px;
    text-align: center;
  }

  .owlui-modal-content {
    height: 100%;
  }

  .owlui-offcanvas-body {
    overflow: hidden;
  }
}

.sort-indicator {
  pointer-events: none;
  user-select: none;
}

.copy-assets-progress {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--owl-dropdown-color);
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
    user-select: none;
  }

  &__body {
    z-index: 20;
    width: 66%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .progress {
    --bs-progress-height: 0.5rem;
    --bs-progress-bar-bg: var(--bs-success);
    margin-bottom: 0.5rem;
  }
}
