@use '@scrowl/ui/src/theme/utils' as *;

.workspace {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  height: 100vh;
  top: $owl-sys-size-navbar-height;
  bottom: $owl-sys-size-footer-height;
  left: 0;
  right: 0;
}
