@use '@owlui/lib/src/theme/utils' as *;
@use '@owlui/lib/src/theme/global/bootstrap' as *;

.canvas {
  --workspace-canvas-height: calc(
    100vh - 224px - var(--workspace-notes-height, 0px)
  );
  --workspace-canvas-width: 100%;
  --workspace-slide-height: calc(var(--workspace-canvas-height) - 2px);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--owl-workspace-color);
  background: var(--owl-workspace-bg);
  overflow: hidden;
  z-index: 10;

  &__header {
    @extend .h3;
    margin: $owl-sys-space-workspace $owl-sys-space-workspace 0.25em;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    &__slide-name {
      display: inline-grid;
      align-items: center;
      position: relative;
      font-size: 20px;
      font-weight: 700;

      &::after,
      input {
        min-width: 100px;
        max-width: calc(
          100vw - var(--pane-left-width) - var(--pane-right-width) - 100px
        );
        width: auto;
        grid-area: 1 / 2;
        padding: 0 $input-btn-padding-y-sm;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        background: none;
        resize: none;
      }

      input {
        padding-top: 0;
        padding-bottom: 0;
        border-width: 2px;
        border-color: transparent;

        &:hover {
          border-color: $input-border-color;
        }

        &:focus {
          border-color: $input-focus-border-color;
          background-color: $input-bg;
        }
      }

      &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: nowrap;
        max-width: 100%;
        padding-right: 0.5em;
        overflow: hidden;
      }
    }
  }

  &__body {
    --bs-heading-color: var(--bs-gray-900);
    --bs-body-color: var(--bs-gray-900);
    --bs-body-bg: var(--bs-white);
    margin: 0 1.5rem 1.5rem;
    color: var(--bs-body-color);
    border: var(--owl-border-width) solid var(--owl-border-color);
    background: var(--bs-body-bg);
    box-shadow: var(--owl-box-shadow);
    overflow: hidden;

    .slide {
      width: var(--workspace-canvas-width) !important;
      height: var(--workspace-canvas-height) !important;

      iframe {
        width: 100%;
        margin: 0;
        padding: 0;
        height: var(--workspace-slide-height);
      }
    }
  }

  &__footer {
    flex: 0 1 auto;
    margin: calc($owl-sys-space-workspace / 2) $owl-sys-space-workspace;
  }
}
